*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     background-color: white;
}

.container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 100%;
     height: 100vh;
}

.block{
     display: flex;
     flex-direction: column;
     justify-content: center;
     flex-basis: 33.33%;
}

.tab{
     background-color: #ddd;
    color: #333;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    margin-right: 5px;
    margin-bottom: -1px;
}
.tab:hover {
     background-color: #bbb;
}
.active{
     background-color: #bbb;
}

/* BlockInfo */

.title{
     text-align: center;
     font-size: 15px;
}

.box__info{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 5px;
     background-color: white;

}
.img{
     max-width: 50%;
     max-height: 50%;
}

.boxInfo__btn-buy{
     background-color: #4CAF50; /* колір фону */
     border: none;
     color: white;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     font-size: 16px;
     margin: 10px;
     border-radius: 5px;
     cursor: pointer;
}

/* PopUp */

.popup{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     padding: 30px;
     gap: 10px;
     width: 750px;
     height: auto;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: white;
     border: 2px solid #333;
     border-radius: 10px;
     position: fixed;
}
.popup__close-btn{
     position: absolute;
     top: 5px;
     right: 15px;
     font-size: 28px;
     background-color: transparent;
     border: none;
     cursor: pointer;
}
.popup__title{
     position: absolute;
     font-size: 14px;
     top: 5px;
     color: green;
}

/* Form */

#form{
     display: flex;
     flex-direction: column;
     gap: 5px;
}
label span{
     display: block;
}

.form_wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
}
.hide{
     display: none;
}

.img-block{
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
}

p{
     color: red;
}


/* modal window */

.modal {
     display: none;
     position: fixed;
     z-index: 999;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.8);
     animation: modal-show 0.5s;
   }

   .modal-content {
     background-color: #fff;
     margin: 10% auto;
     padding: 20px;
     max-width: 600px;
     animation: modal-content-show 0.5s;
   }

   @keyframes modal-show {
     from {
       opacity: 0;
     }
     to {
       opacity: 1;
     }
   }

   @keyframes modal-content-show {
     from {
       opacity: 0;
       transform: translateY(-50%);
     }
     to {
       opacity: 1;
       transform: translateY(0);
     }
   }
