header{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;

     width: 100%;
     height: 65px;
     background-color: #3F4E5D;
}
.header__catalog{
     display: flex;
     flex-direction: row;
     align-items: center;
     height: 100%;
     gap: 20px;
     padding: 0px 100px;
     cursor: pointer;
}
.header__icon-wrapper{
     display: flex;
     justify-content: space-between;
     gap: 32px;
     width: fit-content;
     margin: 60px;
}
