.catalog{
     display: flex;
     flex-direction: column;
     height: fit-content;
     width: fit-content;
     background-color: white;
     border: 1px solid whitesmoke;
     border-radius: 7px;
     padding: 10px 20px;
     margin-left: 75px;
}