.result_button{
     padding: 15px;
     border: 1px solid black;
     border-radius: 7px;
     background-color: #183153;
     color: #71bcf8;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     user-select: none;
     cursor: pointer;
}